@page "/detalles/listado"
@using BlazorWeb.Data
@using Modelo.Entidades
@inject DetalleService service
@inject NavigationManager navigation
@inject IJSRuntime JsRuntime

<h3>Detalles</h3>
<button class="btn btn-info btn-lg mb-3" @onclick="()=>Editar(0)">Nuevo</button>
@if (detalles == null)
{

}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Tiempo</th>
                <th>Recurso</th>
                <th>Tarea</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in detalles)
            {
                <tr>
                    <td>@item.Fecha</td>
                    <td>@item.Tiempo</td>
                    <td>@item.Recurso.Nombre</td>
                    <td>@item.Tarea.Titulo</td>
                    <td><button class="btn btn-primary btn-sm" @onclick="()=>Editar(item.Id)">Editar</button> <button class="btn btn-danger btn-sm" @onclick="()=>Borrar(item.Id)">Borrar</button></td>
                </tr>
            }
        </tbody>
    </table>

}
@code {
    private List<Detalle> detalles;

    protected override async Task OnInitializedAsync()
    {
        detalles = await service.GetAll();
    }

    protected void Editar(int id)
    {
        navigation.NavigateTo("detalles/editar/" + id);
    }

    async Task Borrar(int id)
    {
        bool confirmed = await JsRuntime.InvokeAsync<bool>("confirm", "Desea elimiar el detalle?");
        if (confirmed)
        {
            await service.Borrar(id);
            detalles = await service.GetAll();
        }

    }
}